body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f7fa;
}

/* NAVBAR */
.navbar {
    background: #4a6cf7;
    padding: 15px 25px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LAYOUT */
.container {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.section {
    width: 48%;
}

/* CARDS */
.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

/* INPUTS */
input {
    width: 95%;
    padding: 10px;
    margin: 6px 0;
    border-radius: 6px;
    border: 1px solid #aaa;
}

/* BUTTONS */
.primary-btn {
    background: #4a6cf7;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 6px;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
}
.primary-btn:hover {
    background: #3653d9;
}

.secondary-btn {
    background: gray;
    padding: 8px;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}
.danger-btn {
    background: #e74c3c;
    padding: 8px 15px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 6px;
    font-weight: bold;
}

/* LISTS */
ul {
    list-style-type: none;
    padding: 0;
}
li {
    background: #ececec;
    padding: 12px;
    margin: 10px 0;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Edit & Delete Buttons */
.delete-btn {
    background: #ff4d4d;
    border: none;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}
.edit-btn {
    background: #3498db;
    border: none;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

/* AUTH PAGE */
.auth-body {
    background: #eef1f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.auth-container {
    width: 350px;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}
.tabs {
    display: flex;
    gap: 10px;
}
.tab {
    flex: 1;
    padding: 10px;
    background: #ddd;
    border: none;
}
.tab.active {
    background: #4a6cf7;
    color: white;
}
.hidden {
    display: none;
}
